#vid {
    position: absolute;
    display: none;
    z-index: 1;
}

#canvas {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    /*background-color: rgba(0, 255, 255, 0.369);*/
}

#revbtn {
    position: absolute;
    z-index: 20;
}